<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StudentManagementSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StudentManagementSystem.Properties.Settings>
            <setting name="RememberUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastUser" serializeAs="String">
                <value />
            </setting>
        </StudentManagementSystem.Properties.Settings>
    </userSettings>
</configuration>